:root {
    --blue: steelblue;
    --red: firebrick;
    --green: mediumseagreen;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body { 
    height: 100vh;
    font-family: sans-serif;
}

.center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.box {
    height: 250px;
    width: 250px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    vertical-align: center;
    animation-name: color-change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    justify-content:center;
}

h1 {
    transition-duration: 0.5s;
}

.box h1:hover {
	transform: rotate(360deg);
}

@keyframes color-change {
    0% {background:#333;}
    25% {background:red;}
    50% {background:blue;}
    75% {background: green;}
    100% {background: #333}
}